$palette-ink: hsl(200, 20%, 20%);
$cell-bg: hsl(0, 0%, 98%);
$today-bg: $cell-bg;
$tooltip-bg: $palette-ink;
$tooltip-color: #fff;

body {
  font: 500 16px 'Open Sans';
  color: $palette-ink;
  margin: 0;
}

#root {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calendar-container {
  width: 60%;
  max-width: 800px;
}

.calendar {
  width: 100%;

  th {
    font-weight: 600;
    padding: 1em 0;
  }

  .month-name {
    font-size: 21px;
  }

  tbody td {
    box-sizing: border-box;
    vertical-align: top;
    padding: 0.5em 0.75em;
    background: $cell-bg;
    font-size: 0.8rem;
    text-align: left;
    width: calc(100% / 7);
    height: 8em;
    cursor: pointer;
    position: relative;

    &:hover .tooltip {
      display: block;
    }
    
    &.today {
      background: $today-bg;
      border: 1px solid mix(#fff, $palette-ink, 40%);
    }
  }
}

.date,
.class {
  display: block;
}

.date {
  margin-bottom: 1em;
}

.class {
  font-weight: 600;
}

.tooltip {
  display: none;
  position: absolute;
  background: $tooltip-bg;
  color: $tooltip-color;
  padding: 0.5em 0.7em;
  border-radius: 5px;
  top: 5em;
  z-index: 1;
  width: 250px;
}

.ground-tooltip,
.standing-tooltip {
  display: block;
}

.ground-tooltip::before {
  content: 'Ground: ';
}

.standing-tooltip::before {
  content: 'Standing: ';
}
